<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Flask Server</title>

    <link rel="stylesheet" href="../static/style.css">

    <link rel="stylesheet"
        href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
</head>

<body>

    <div class="container">

        <header>
            <nav>
                <ul>
                    <li id="generatorLink">Gerador</li>
                    <li id="upscaleLink">Upscale</li>
                </ul>
            </nav>
        </header>

        <main>

            <h1>Gerador de Imagens</h1>

            <figure class="">
                <img src="https://picsum.photos/512/512" />
            </figure>

            <form action="POST">

                <input type="text" id="inputPrompt" placeholder="Digite a descrição da imagem">

                <label for="inputFile" id="customFileInput" class="sr-only">
                    <span class="material-symbols-outlined" style="font-size:5vw; color:#80808090;">
                        upload
                    </span>
                    <p>
                        Faça o upload da imagem
                    </p>
                </label>

                <input type="file" id="inputFile" name="inputFile" accept="image/png, image/jpeg" class="sr-only">

                <button type="submit">
                    Enviar
                </button>

            </form>

    </div>
    </main>


    <script src="../static/script.js" defer></script>

</body>

</html>